[submodule "src/an-avr-lib"]
	path = src/an-avr-lib
	url = https://github.com/christophevg/moose.git
[submodule "src/foo-lang"]
	path = src/foo-lang
	url = https://github.com/christophevg/foo-lang.git
