.DS_Store
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
masterproef.pdf
problem-goal.pdf
hacker-in-mijn-koelkast.pdf
ieee.pdf
*.pyg
